// sass mq variable

$breakpoint-mobile: 50em;

// Colors
$background-color: #ffffff;
$primary-color: #27b09a;
$error-color: #ff0000;
$inactive-button-color: #bbbbbb;
$facebook: #4267b2;
$google: #4285f4;
$twitter: #1da1f2;

// Dimensions
$nav-bar-height-desktop: 6.25rem;
$nav-bar-height-mobile: 4.8rem;
$header-height-mobile: 3.1rem;
