@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.settings-container {
  padding: 0.5rem 0;
}

.joined-date-container {
  color: $inactive-button-color;
  margin: 0.5rem;
  text-align: center;
}

.add-friends-link {
  position: relative;
  display: block;
}

.friend-request-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;

  font-weight: bold;
  color: white;
  background-color: $primary-color;

  right: 1rem;
  @include vertical-center-fixed;
}

.no-friend-request {
  visibility: hidden;
}
