@import '../../../variables.scss';

.direct-messages-container {
  .page-container {
    padding: 5rem 2rem;
  }
  .search-results {
    padding-top: 0.5rem;
    text-align: center;
  }
  .top-nav-bar-shadow {
    margin-top: 0.35rem;
  }
}
