@import '../../../../variables.scss';

.page-container.my-friends {
  .friend-category-title {
    font-size: 1.125rem;
    margin: 0.625rem 0;
  }

  .my-friends-page-title {
    font-size: 1.125rem;
  }

  .contact-container {
    margin-top: 0.625rem;
  }
}

@media (min-width: $breakpoint-mobile) {
  .page-container.my-friends {
    .friend-category-title {
      font-size: 1.5rem;
      margin-top: 2.5rem;
      margin-bottom: 1.25rem;
    }

    .my-friends-page-title {
      font-size: 1.5rem;
    }

    .contact-container {
      margin-top: 1rem;
    }
  }
}
