.create-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-image-upload {
  display: none;
}

.custom-file-upload {
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid #27b09a;
  border-radius: 20px;
  margin-bottom: 20px;

  &:hover {
    background: #0ba024;
  }
}

.create-event-text {
  color: #27b09a;
}

.create-event-label {
  color: #27b09a;
  align-items: left;
}

.create-event-input {
  border: 1px #27b09a solid;
  border-radius: 20px;
  outline: none;
  margin-bottom: 20px;
}

.create-event-button {
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  background: #6fb4a5;
  border: 1px solid #6fb4a5;
  border-radius: 19px;
  outline: none;
}
