@import '../../../variables.scss';

.create-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-image-upload {
  display: none;
}

.event-input-border {
  border-radius: 20px;
  border: 1.5px #27b09a solid;
  &.error {
    border-color: #ff0000;
  }
}

.custom-file-upload {
  display: block;
  padding: 1.8em 5em;
  cursor: pointer;

  margin-bottom: 20px;

  &:hover {
    background: #0ba024;
  }
}

.create-event-text {
  color: $primary-color;
}

.create-event-label {
  color: black;
  align-items: flex-start;
  font-weight: 600;
}

.create-event-time {
  display: flex;
  align-items: center;
  flex-direction: column;

  & .custom-time-picker-container {
    margin: 0 0 1.25rem;
  }

  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 1.25rem;
  }
}

.create-event-input {
  display: block;
  box-sizing: border-box;
  outline: none;
  padding-left: 1em;
  width: 100%;
  height: 2.8em;
}

.create-event-button {
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  background: #6fb4a5;
  border: 1px solid #6fb4a5;
  border-radius: 19px;
  outline: none;
  margin-top: 20px;
}

div {
  width: 100%;
}
