@import '../../../variables.scss';
@import '../../../mixins.scss';

.mull-text-area-container {
  position: relative;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.mull-text-area-sub-container {
  position: relative;
}

.mull-text-area-icon {
  position: absolute;
  @include vertical-center-fixed;
  right: 1rem;
}

.mull-text-area-label {
  color: black;
  align-items: flex-start;
  font-weight: 600;
  line-height: 1.5;
}

.mull-text-area {
  display: block;
  outline: none;
  box-sizing: border-box;
  padding: 0.7rem 3em 0.7rem 1rem;
  width: 100%;
  max-width: 100%;
  max-height: 8rem;
  overflow: auto;
  word-break: break-all;
}
