@import '../../../variables.scss';
@import '../../../styles.scss';

.subnavigation-header-container {
  background-color: $background-color;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  left: 0;
  margin-top: -1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.subnavigation-text-container {
  position: relative;
  margin-top: 0.5rem;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.subnavigation-link {
  color: $inactive-button-color;
}

.active {
  color: $primary-color;
  font-weight: 600;
}

@media (min-width: $breakpoint-mobile) {
  .subnavigation-text-container {
    width: 45%;
    margin-top: -0.5rem;
    height: 2.5rem;
  }
}
