@import '../../../variables.scss';

.profile-header-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.profile-header-username {
  flex: 1;
  margin-bottom: 0;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 1.5rem;
  font-weight: bold;
}

.user-name-container {
  display: flex;
}

.share-button {
  color: $primary-color;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
}

.profile-side-container,
.for-current-user {
  flex: 1;
  text-align: center;
}

.profile-stats {
  font-weight: bold;
  width: 30%;
}

.friend-status-container {
  display: flex;
  justify-content: center;
}

.for-current-user {
  .profile-stats {
    padding: 1.5rem 0.5rem;
  }
}

.friend-status-button {
  padding: 0.55rem;
  width: 80%;
  margin: 0.75rem;
}

.profile-header-user-description {
  white-space: pre-line;
  margin-bottom: 1.5rem;
  word-break: break-word;
}
