.identified-waste-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 2rem;
  z-index: 2;
  position: relative;
  text-align: center;
}

.MuiDialog-paperWidthSm {
  max-width: 25rem !important;
  border-radius: 2rem !important;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.close-button {
  text-align: right;
  padding: 0.5rem 1rem 0;
}

.waste-title {
  padding: 0.5rem;
  display: flex;
  text-transform: capitalize;
  align-self: center;
  align-items: center;
  h1 {
    margin-left: 0.5rem;
  }
}

.waste-picture-container {
  text-align: center;
  padding: 1rem 1rem;
}

.waste-picture {
  height: 10rem;
}

.waste-info {
  padding: 0.5rem;
  text-align: center;
}
