.identified-waste-container {
  border-radius: 1rem !important;
  padding: 1rem;
}
.identified-waste-modal-close {
  text-align: right;
}

.identified-waste-modal-title {
  margin-bottom: 1rem;
  display: flex;
  text-transform: capitalize;
  align-self: center;
  align-items: center;
  h1 {
    margin-left: 0.5rem;
  }
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.identified-waste-modal-picture {
  width: 100%;
  max-height: 50vh;

  border-radius: 1rem;

  margin-bottom: 1rem;
}

.identified-waste-modal-info {
  text-align: center;
}
