@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.top-nav-container {
  background: $background-color;
  box-sizing: border-box;
  height: $top-nav-bar-height-mobile;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0;
  z-index: 3;
}
.top-nav-logo-container,
.top-nav-logo {
  align-self: center;
  display: block;
  width: 5.4rem;
}

.extra-buttons {
  display: none;
}

@media (min-width: $breakpoint-mobile) {
  .top-nav-container {
    padding: 1rem 0;
    height: $top-nav-bar-height-desktop;
  }
  .top-nav-logo-container {
    position: absolute;
    left: 1em;
    .top-nav-logo {
      width: 7em;
    }
  }

  .extra-buttons {
    display: block;
  }
}
