@import '../../../variables.scss';

.chat-container {
  margin: 1rem 0;
}

.host-chat-container {
  flex-direction: row-reverse;
  .chat-bubble {
    background-color: $sent-chat-color;
  }
}

.participant-chat-container {
  .chat-bubble {
    background-color: $recieved-chat-color;
  }
}

.host-chat-container,
.participant-chat-container {
  display: flex;
  .chat-bubble {
    border-radius: 1rem;
    padding: 0.75rem;
    align-self: center;
  }
}

.announcement-time {
  font-size: 0.875rem;
  text-align: center;
  color: $inactive-button-color;
}

.user-picture {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem;
}
