@import '../../../variables.scss';

.settings-button-container {
  border: 0.12rem solid $primary-color;
  border-radius: 9px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

.settings-icon {
  margin: 0.75rem;
  font-size: 1.25rem;
  color: $primary-color;
}
