@import '../../../variables.scss';

.nav-container {
  background: $background-color;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $breakpoint-mobile) {
    padding: 1em 0;
    gap: 3em;

    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.nav-button {
  width: 3em;
  height: 3em;

  @media (min-width: $breakpoint-mobile) {
    width: 4em;
    height: 4em;
  }
}

.active {
  svg {
    fill: $primary-color;
  }
}

.logo {
  display: none;
  width: 11em;

  @media (min-width: $breakpoint-mobile) {
    display: inline-block;
  }
}
