//Mobile navbar
.nav-container {
  background: #ffffff;

  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 30em) {
    position: fixed;
    bottom: 0;
  }
  @media (min-width: 300em) {
    top: 0;
  }
}
