.location-textbox-end-adornment {
  display: none;
}

.location-textbox-container {
  width: 100%;
}

.location-autocomplete-textbox {
  padding: 0.375rem 1.25rem;
}

.location-autocomplete-option {
  margin-right: 0.8rem;
}
