.event-bullet-container {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  padding: 1rem 0;
}

.event-bullet-photo {
  max-width: 3rem;
  max-height: 2.9rem;
  border-radius: 15%;
}

.event-bullet-date-box {
  display: flex;
  border: 0.125rem #a9a9a9;
  border-radius: 15%;
  border-style: solid;
  flex-direction: column;
  align-items: center;
  padding: 0.125rem 0.625rem;
  margin: 0 0.625rem;
}

.event-box-day-font {
  font-size: 0.75rem;
  font-weight: bold;
}

.event-box-font {
  font-size: 0.625rem;
}
