@import '../variables.scss';

.page-container {
  margin: $top-nav-bar-height-mobile 0 $bot-nav-bar-height-mobile;
  padding: 1rem;

  &.no-navigation {
    margin: 0;
  }

  &.no-bot-nav {
    margin-bottom: 0;
  }

  &.full-width {
    padding: 1rem 0;
  }

  &.no-padding {
    padding: 0;
  }

  &.with-sub-nav-bar {
    margin-top: $top-nav-bar-height-mobile + $sub-nav-bar-height-mobile !important;
  }

  &.with-sub-nav-and-header {
    margin-top: $top-nav-bar-height-mobile + $sub-nav-bar-height-mobile +
      $top-nav-header-height-mobile !important;
  }

  &.with-bottom-chat-input {
    margin-bottom: $bot-nav-bar-height-mobile + $bot-chat-input-mobile;
  }
}

.Toastify__toast--success {
  background: $primary_color;
}

@media (min-width: $breakpoint-mobile) {
  .Toastify__toast-container {
    top: 7.5rem;
  }

  .page-container {
    width: $page-container-width;
    margin: $top-nav-bar-height-desktop auto 0;
    padding: 1rem 0;

    &.full-width {
      width: auto;
    }

    &.no-navigation {
      margin: 0 auto;
    }

    &.no-padding {
      padding: 0;
    }

    &.with-sub-nav-bar {
      margin-top: $top-nav-bar-height-desktop + $sub-nav-bar-height-desktop !important;
    }

    &.with-sub-nav-and-header {
      margin-top: $top-nav-bar-height-desktop + $sub-nav-bar-height-desktop +
        $top-nav-header-height-desktop !important;
    }

    &.with-bottom-chat-input {
      margin-bottom: $bot-chat-input-desktop;
    }
  }
}
