@import '../variables.scss';

.page-container {
  margin: $top-nav-bar-height-mobile 0 $bot-nav-bar-height-mobile;
  padding: 1rem;

  &.no-navigation {
    margin: 0;
  }

  &.full-width {
    padding: 1rem 0;
  }

  &.no-padding {
    padding: 0;
  }
}

.discover-page {
  height: calc(100vh - #{$top-nav-bar-height-mobile + $bot-nav-bar-height-mobile});
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Toastify__toast--success {
  background: $primary_color;
}

.discover-cards {
  padding: 1rem;
}

@media (min-width: $breakpoint-mobile) {
  .Toastify__toast-container {
    top: 7.5rem;
  }

  .discover-cards {
    width: 35%;
    padding: 1rem 0;
    margin: auto;
  }

  .page-container {
    width: 35%;
    margin: $top-nav-bar-height-desktop auto 0;
    padding: 1rem 0;

    &.full-width {
      width: auto;
    }

    &.no-navigation {
      margin: 0 auto;
    }

    &.no-padding {
      padding: 0;
    }
  }

  .discover-page {
    height: calc(100vh - #{$top-nav-bar-height-desktop});
  }
}
