@import 'variables';

.page-container {
  padding: $header-height-mobile 0 $nav-bar-height-mobile;
}

.Toastify__toast--success {
  background: $primary_color;
}

@media (min-width: $breakpoint-mobile) {
  .Toastify__toast-container {
    top: 7.5rem;
  }
  .page-container,
  .page-container-no-nav {
    width: 35%;
    margin: auto;
  }

  .page-container {
    padding: $nav-bar-height-desktop 0 0;
  }
}
