@import '../../../variables.scss';

$event-page-header-height: 17rem;

.event-page-container {
  position: relative;
}

.event-page-header-container {
  position: fixed;
  z-index: 2;
  top: $top-nav-bar-height-mobile;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;

  background-color: white;
}

.event-page-info-container {
  margin-top: $top-nav-bar-height-mobile;
  position: relative;
}

.event-page-icon {
  box-sizing: border-box;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.color-grey {
  color: rgba($color: #000000, $alpha: 0.5);
}

.color-green {
  color: rgba($color: $primary-color, $alpha: 0.5);
}

@media (min-width: $breakpoint-mobile) {
  .event-page-header-container {
    top: $top-nav-bar-height-desktop;

    left: 50%;
    transform: translate(-50%, 0);
    width: 35%;
  }

  .event-page-info-container {
    margin-top: $top-nav-bar-height-desktop;
  }
}
