@import 'variables';

.event-page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.event-page-info {
  overflow-y: auto;
}

.event-page-button {
  margin: 0.5rem 0;
}

.event-page-icon {
  box-sizing: border-box;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.color-grey {
  color: rgba($color: #000000, $alpha: 0.5);
}

.color-green {
  color: rgba($color: $primary-color, $alpha: 0.5);
}
