@import '../../../../variables.scss';

.nav-buttons-container {
  background: $background-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  a {
    margin: 0 1rem;
  }
}

.nav-button-container {
  display: flex;
}

.active {
  svg {
    fill: $primary-color;
  }
}
