.announcement-time {
  text-align: center;
  position: relative;
  top: 0.5em;
  color: #bbbbbb;
}

.profile-picture {
  width: 2.2em;
  height: 2.2em;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5em;
}

.announcement-posted {
  background-color: #eaeaea;
  border-radius: 1em;
  padding: 0.5em;
  width: 75%;
  display: inline-flex;
  position: relative;
  top: -1.2em;
}

.form-announcement {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em;
}

.announcement-send {
  font-size: 14px;
  height: 3em;
  width: 91%;
  border-radius: 2em;
  border: 1.5px #27b09a solid;
  margin: 0.5em;
  padding: 0.5em;
}

.send-button {
  border-radius: 100%;
  border: 1px #27b09a solid;
  background: #27b09a;
  box-sizing: border-box;
  padding: 0.5em;
  position: relative;
  bottom: 3.5em;
  left: 86%;
}

.send-icon {
  color: white;
}
