@import '../../../../variables.scss';
.sub-nav-bar-container {
  display: flex;
  justify-content: center;
}

.inner-cont {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 0 2rem;
  @media (min-width: $breakpoint-mobile) {
    max-width: $page-container-width;
  }
}

.subnavigation-link {
  color: $inactive-button-color;
}

.active {
  color: $primary-color;
  font-weight: 600;
}
