@import '../../../../variables.scss';
.sub-nav-bar-container {
  display: flex;
  justify-content: center;
}

.inner-cont {
  max-width: $page-container-width;
  width: $page-container-width;
  justify-content: space-between;
  display: flex;
}

.subnavigation-link {
  color: $inactive-button-color;
}

.active {
  color: $primary-color;
  font-weight: 600;
}
