@import '../../../variables.scss';

.chat-input-container {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: $bot-nav-bar-height-mobile;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background-color: $background-color;
  .custom-file-upload-container {
    margin-right: 0.8rem;
  }
  .chat-input-form {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .chat-input-button {
    position: relative;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: $primary-color;
    box-sizing: border-box;
    padding: 0.3em;
    svg {
      color: $background-color;
    }
  }
  svg {
    color: $primary-color;
    &.custom-file-upload-icon {
      font-size: 1.5em; //em used to follow fontawesome standards for sizing
      padding: 0.2rem;
    }
  }
}

.file-upload-feedback {
  :active {
    background-color: #b3e6ff;
  }
}

.chat-input-image {
  object-fit: contain;
  max-height: 3rem;
  max-width: 8rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.chat-input-limit-message {
  font-size: 0.7rem;
  position: absolute;
  right: 1.4rem;
  bottom: 1.4rem;
}

.chat-input-form {
  .mull-text-area {
    padding-right: 3.2rem !important;
  }
}

.error-max-chat {
  color: red;
}

@media (min-width: $breakpoint-mobile) {
  .chat-input-container {
    width: $page-container-width;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    padding: 1rem 0;
  }
}
