@import '../../../variables.scss';

.expandable-span-button {
  display: inline;
  color: $primary-color;
  background-color: transparent;
}

.expandable-text-container {
  display: inline;
  word-break: break-word;
}
