.mull-modal-container {
  .user-profile-picture {
    width: 5rem;
    height: 5rem;
  }
}

.friend-modal-username,
.friend-modal-button {
  margin-top: 1rem;
}

.friend-modal-username {
  font-size: 1.25rem;
}

.friend-modal-button {
  align-self: stretch;
}
