@import 'variables';

.login-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  margin: 0 auto;
  width: 95%;
}

.custom-text-input-container,
.facebook,
.google,
.login,
.separator,
.twitter {
  align-self: center;
  justify-self: center;
}

.separator {
  display: flex;
  align-items: center;
  color: #27b09a;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #27b09a;
}

.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

.login,
.twitter,
.google,
.facebook {
  width: 100%;
  height: 45px;
  cursor: pointer;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.twitter,
.google,
.facebook {
  color: #ffffff;
  font-weight: bold;
}

.login {
  font-weight: bold;
  color: #000000;
  background-color: rgba(39, 176, 154, 0.6);
  border: none;
}

.twitter {
  background-color: #1da1f2;
}

.google {
  background-color: #4285f4;
}

.facebook {
  background-color: #4267b2;
  padding-left: 1.2em;
}

.login-mull-logo {
  padding-top: 2em;
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 3em;
}

.sign-up {
  text-align: center;
  font-size: 14px;
}

.register-login-page {
  font-size: 14px;
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

@media (min-width: 600px) {
  .login-mull-logo {
    padding-top: 8em;
  }
  .login,
  .twitter,
  .google,
  .facebook,
  .separator,
  .custom-text-input-container {
    width: 45%;
  }

  .login-mull-logo {
    width: 12%;
  }
}

@media (min-width: 1200px) {
  .login,
  .twitter,
  .google,
  .facebook,
  .custom-text-input-container,
  .separator {
    width: 22%;
  }

  .login-mull-logo {
    width: 10%;
  }
}
