@import '../../../variables.scss';

.login-container {
  display: grid;
  grid-row-gap: 1.5rem;

  .login-mull-logo {
    padding-top: 4rem;
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-bottom: 3rem;
  }

  .facebook {
    background-color: $facebook;
    padding-left: 1.2rem;
  }

  .custom-text-input-container,
  .facebook,
  .google,
  .login,
  .separator,
  .twitter {
    align-self: center;
    justify-self: center;
  }

  .custom-text-input-container {
    margin-bottom: 1.5rem;
  }

  .separator {
    display: flex;
    align-items: center;
    color: $primary-color;
    width: 100%;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $primary-color;
  }

  .separator::before {
    margin-right: 0.25rem;
  }
  .separator::after {
    margin-left: 0.25rem;
  }

  .login,
  .twitter,
  .google,
  .facebook {
    display: flex;
    width: 100%;
    height: 2.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }

  .twitter,
  .google,
  .facebook {
    color: white;
    font-weight: bold;
  }

  .login {
    font-weight: bold;
    background-color: $primary-color;
    color: $background-color;
  }

  .twitter {
    background-color: $twitter;
  }

  .google {
    background-color: $google;
  }

  .sign-up {
    text-align: center;
    font-size: 0.85rem;
  }

  .register-login-page {
    font-size: 0.85rem;
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
  }
}
