@import 'variables';

.register-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}

.register-mull-logo {
  padding-top: 4rem;
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 3rem;
}

.register-button {
  font-weight: bold;
  color: white;
  background-color: rgba($color: $primary-color, $alpha: 0.6);
  border: none;
  height: 2.8rem;
  cursor: pointer;
  border-radius: 16px;
  outline: none;
}

.custom-text-input-container,
.register {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.login-here {
  font-size: 0.85rem;
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

.login-link {
  text-align: center;
}
