@import 'variables';

.register-mull-logo {
  padding-top: 5em;
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 3em;
}

.register-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5em;
  margin: 0 auto;
  width: 95%;
}

.register {
  font-weight: bold;
  color: #000000;
  background-color: rgba(39, 176, 154, 0.6);
  border: none;
  height: 45px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 16px;
  outline: none;
}

.custom-text-input-container,
.register {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.login-here {
  font-size: 14px;
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

.login-link {
  text-align: center;
}

@media (min-width: 600px) {
  .register,
  .custom-text-input-container {
    width: 45%;
  }
  .register-mull-logo {
    width: 15%;
  }
}

@media (min-width: 1200px) {
  .register,
  .custom-text-input-container {
    width: 22%;
  }
  .register-mull-logo {
    width: 10%;
  }
}
